fastapi
google-generativeai
celery
redis
uvicorn
magika
pydantic_settings
python-multipart
python-docx
pypdf2
pandas
requests
html2text
docx2txt
mammoth
pdfkit
semchunk
tiktoken
transformers
numpy
python-magic
asyncio
psycopg2-binary
sqlmodel
cryptography